<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>imlicitobject</servlet-name>
    <jsp-file>/implicitobjects/nineimplicitobjects.jsp</jsp-file>

    <!-- Servlet Config -->
    <init-param>
      <param-name>dname</param-name>
      <param-value>sun.odbc.jdbc.JdbcOdbcDriver</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
      <servlet-name>imlicitobject</servlet-name>
      <url-pattern>/implicitobjects/nineimplicitobjects.jsp</url-pattern>
  </servlet-mapping>

  <!-- Test Session Jsp -->
  <servlet>
    <servlet-name>sessionimplicit</servlet-name>
    <jsp-file>/implicitobjects/testsessionobject.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
      <servlet-name>sessionimplicit</servlet-name>
      <url-pattern>/testsession</url-pattern>
  </servlet-mapping>

  <!-- Directives -->

  <servlet>
     <servlet-name>directive</servlet-name>
     <jsp-file>/directives/pagedirective.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>directive</servlet-name>
    <url-pattern>/pagedirective</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>directive</servlet-name>
    <jsp-file>/directives/includedirective.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>directive</servlet-name>
    <url-pattern>/includedirective</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>directive</servlet-name>
    <jsp-file>/directives/taglibdirective.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>directive</servlet-name>
    <url-pattern>/taglibdirective</url-pattern>
  </servlet-mapping>

  <!-- Exception Handling -->

  <servlet>
    <servlet-name>exception</servlet-name>
    <jsp-file>/exceptionhandling/dividebyzero.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>exception</servlet-name>
    <url-pattern>/exception</url-pattern>
  </servlet-mapping>

  <!-- Genric one for all the errors with error code 500-->

  <!-- Way 1  using error code -->
  <error-page>
    <error-code>500</error-code>
    <location>/exceptionhandling/error.jsp</location>
  </error-page>

  <!-- way 2 - using the specific error -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/exceptionhandling/error.jsp</location>
  </error-page>

  <!-- action tags -->

  <servlet>
    <servlet-name>actiontag</servlet-name>
    <jsp-file>/actiontags/forwardtag.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>actiontag</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>actiontagi</servlet-name>
    <jsp-file>/actiontags/includetag.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>actiontagi</servlet-name>
    <url-pattern>/include</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>actiontagj</servlet-name>
    <jsp-file>/actiontags/usebeans.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>actiontagj</servlet-name>
    <url-pattern>/usebeans</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>actiontagk</servlet-name>
    <jsp-file>/actiontags/employeeform.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>actiontagk</servlet-name>
    <url-pattern>/setbeans</url-pattern>
  </servlet-mapping>


  <!-- Expression Language -->

  <servlet>
    <servlet-name>exprlang</servlet-name>
    <jsp-file>/expressionlang/form.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>exprlang</servlet-name>
    <url-pattern>/exprlang</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>dname</param-name>
    <param-value>sun.jdbc.NewJdbcOdbcDriver</param-value>
  </context-param>

</web-app>
